@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    background-color: #000;
    color: #00FF00;
    font-family: 'Roboto Mono', monospace, sans-serif;
    text-transform: uppercase;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
}
